PORT=3100
SITE_ID=WAJJ
AIRPORT_SITE_ID=WAJJ
MESSAGE_SERVICE_NAME=MONITORING_ARIFIN_BRANCH
CENTRAL_SERVICE_NAME=EMS
TARGET_SERVICE_NAME=EMS
RABBITMQ_PROTOCOL=amqp
RABBITMQ_HOST=172.20.17.104
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=smart-toc-hq
RABBITMQ_PASSWORD=smarthq123!
RABBITMQ_VHOST=dev-smart
